---
---

@charset "utf-8";

@import "reset";

$black: #222;

/**
 * Base
 */

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

/**
 * Layout
 */

.top-bar {
  color: white;
  background-color: $black; 
  height: 3rem;
  line-height: 3rem;
  
  img {
    width: 1.2rem;
    height: 2.2rem;
    margin-left: 1.5rem;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
}

.umu-logo {
  
  width: 100%;
  
  img {
    height: 8rem;
    width: 8rem;
    display: block;
    margin: 2rem auto 4rem auto;
  }
}

#main-title {
  width: 100%;
  text-align: center;
}

.choose-os {
  .choosen h3 {
    display: inline;
  }
  
  .versions {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    border: 0.1rem $black solid;
    border-radius: 0;
    height: 4rem;
    background-image: url("/images/spinner.svg");
    background-repeat: no-repeat;
    
    
    &:after {
      content: " ";
      position: absolute;
    }
  }
}


.steps {
  box-sizing: border-box;
  
  max-width: 90rem;
  
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 5rem;
  
  padding: 5rem;
}

.steps > h1 {
  font-size:200%;
  margin-bottom: 5rem;
}

.step {
  display: flex;
  flex-direction: row;
  border-bottom: gray solid 1px;
  padding-bottom: 5rem; 
  margin-bottom: 5rem;
}

.step > div {
  flex-grow: 1;
  padding: 3rem;
}

.step > div:first-child {
  border-right: 1px gray solid;
}
