---
---

@charset "utf-8";

$black: #222;
$white: #fff;
$link-blue: #006699;
$button-blue: #335575;
$beige: #F3F3EC;
$line-gray: #DDDDDD;

$font-family: "Montserrat", Helvetica, Arial, sans-serif;

@import "reset";
@import "progress";

/**
 * Base
 */

html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

body {
  font-family: $font-family;
  font-size: 1.6rem;
  background-color: $white;
  line-height: 1.75;
  
  margin: 0 0 15rem; // footer height
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

h3 {
  font-size: 2.1rem;
}

a {
  text-decoration: none;
  color: $link-blue;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  border-radius: .5rem;
  padding: .4rem .5rem .4rem .5rem;
  border: black solid 1px;
  margin:.3rem;
  white-space:nowrap;
}

:not(strong) > em {
  text-decoration:underline;
  font-weight:bold;
}

.center {
  text-align: center;
}

#main-title {
  width: 100%;
  text-align: center;
  padding: 2rem 0 3.5rem 0;
}

/**
 * Layout
 */

.page {
  max-width: 90rem;
  margin: auto;
}

.startPageinfo {
  max-width: 70rem;
  margin: auto;
}

.top-bar {
  color: white;
  background-color: $black; 
  height: 3rem;
  line-height: 3rem;
  font-size: 1.3rem;
  
  img {
    width: 1.2rem;
    height: 1.8rem;
    margin-left: 1.5rem;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
}

.umu-logo {
  
  width: 100%;
  
  img {
    height: 8rem;
    width: 8rem;
    display: block;
    margin: 2rem auto;
  }
}

.choose-os {
  text-align: center;
  
  .choosen h3 {
    display: inline;
  }
  
  .versions {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    border: 0.1rem $black solid;
    border-radius: 0;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 3.3rem;
    margin-left: 1rem;
    background-color: white;
    font-family: $font-family;
    font-size: 1.6rem;
    
    background-image: url("../images/spinner.svg");
    background-repeat: no-repeat;
    background-position: 100% 48%;
    background-origin: padding-box;
    background-size: 2.3rem 2.3rem;
  }
  
  .options {
    margin-top: 3.5rem;
    
    li {
      padding: 0 2rem;
      display: inline-block;
      font-size: 2.1rem;
    }
  }
}

footer {
  background-color: $black;
  width: 100%;
  height: 15rem;
  position: absolute;
  left: 0;
  bottom: 0;
  
  img {
    width: 8rem;
    height: 8rem;
    
    display: block;
    margin: auto;
    
    position: relative;
    top: 3.5rem;
  }
}

.download-buttons {
  
  a {
    display: block;
    background-color: $button-blue;
    color: $white;
    width: 21rem;
    padding: 1.2rem 2rem 1.2rem 5.5rem;
    margin: 2.2rem 0;
    position: relative;
    transition: background-color .3s;
    
    &:before {
      content: " ";
      position: absolute;
      left: 2.5rem;
      width: 2rem;
      height: 2rem;
      background-image: url("../images/download-arrow.svg");
      background-color: transparent;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-color: transparent;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &:hover {
      background-color: lighten($button-blue, 10%);
    }
  }
}

.steps {
  box-sizing: border-box;
  
  max-width: 90rem;
  
  margin: auto;
  left: 0;
  right: 0;
  
  padding: 5rem;
  
  h2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  
  li {
    list-style: disc;
    list-style-position: outside;
    margin-bottom: 2rem;
    margin-left:3rem;
    padding-left:1rem;
  }
  
  p {
      margin-bottom: 4rem;
  }
}

.step {
  position: relative;
  box-sizing: border-box;
  padding-bottom: calc(5rem + 1em);
  border-bottom: $line-gray solid 1px;
  
  .instructions {
    vertical-align: top;
    
    margin-bottom: 4rem; // .help height
  }
  
  .help {
    border: .1rem solid $black;
    height: 4rem;
    line-height: 4rem;
    width: calc(50% - 6rem);
    position: absolute;
    box-sizing: border-box;
    padding: 0 1.6rem;
    bottom: 6.6rem;
    left: 3rem;
    cursor: pointer;
    
    &:after {
      content: " ";
      background-image: url('../images/small-arrow.svg');
      background-repeat: no-repeat;
      width: 1.6rem;
      height: 1.6rem;
      position: absolute;
      right: 1.6rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  > *::before {
    width: .2rem;
    background: $line-gray;
    left: calc(50% + -.1rem);
    top: 0;
    height: calc(100% + -5rem + -1em);
    position: absolute;
    content: "";
  }
}

.step:last-child {
  border-bottom: none;
}

.step > div {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 0 3rem;
  display: inline-block;
}

.steps > a > img {
  box-sizing: border-box;
  width: 9rem;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  position: relative;
  transform:translateY(-50%);
  padding-right: 2rem;
  padding-left: 2rem;
  background: $white;
}

.step-image {
  width: 100%;
}
