---
permalink: /macos
---
<!DOCTYPE html>

<html lang="sv">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    <div class="steps">
      {% for step in site.data.steps %}
        
        <h1>Steg {{ forloop.index }}. {{ step.title }}</h1>
        <div class="step">
          <div>
            {{ step.text }}
          </div><div>
            {{ step.images }}
          </div>
        </div>
        <img src="./images/big_next_arrow.svg">
      {% endfor %}
    </div>

    {% include footer.html %}
  </body>
</html>
