---
layout: default
permalink: /macos

pagetitle: Installera Eduroam
---

{% include navigation.html %}

<div class="steps">
  {% for step in site.data.steps %}
    
    <h2 id="steg-{{ forloop.index }}">Steg {{ forloop.index }}. {{ step.title }}</h2>
    <div class="step">
      <div class="instructions">
        {% capture step-text %}{{ step.text }}{% endcapture %}
        {{ step-text | markdownify }}
        
        <div class="help">Vanliga problem</div>
      </div><div class="display">
        {% if step.images == null %}
          {% include {{ step.html }} %}
        {% else %}
          {% for image in step.images %}
            <img class="step-image" src="{{ image }}">
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% if forloop.last == false %}
    <a href="#steg-{{ forloop.index | plus: 1 }}"><img src="./images/big_next_arrow.svg"></a>
    {% endif %}
  {% endfor %}
</div>

