<div class="top-bar">
    <img src="/images/deer.svg" alt="Ren ikon">
    <a href="www.umu.se">Gå till www.umu.se</a>
</div>

<div class="umu-logo">
  <img src="/images/umu-logo.svg" alt="UmU logo">
</div>

<h1 id="main-title">Installera Eduroam</h1>


<div class="choose-os">
  
  <div class="choosen">
    
    <h3>Vi tror du har: </h3>
    <h3>Mac OSX</h3>
    
    <select class="versions">
      <option>10.7-10.11</option>
      <option>10.16</option>
    </select>
  </div>
  
  <div class="options">
    
  </div>
</div>