.progress {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 4rem;
}

.progress-segment {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: .2rem solid black;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  
  &.active {
    background-color: black;
  }
}